:root {
  --heavy-metal: #454544;
  --porche: #EFB560;
  --di-serria: #DC9852;
  --tana: #B7B39F;
  --white-smoke: #F0F0F0;
  --trout: #474D4F;
  --title-font: "Ubuntu", sans-serif;
  --body-font: "Questrial", sans-serif;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  #contact {
    
    height: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #contact h2 {
    text-align: center;
    font-size: 4.5vw;
    font-family: var(--title-font);
    color: var(--white-smoke);
    margin-bottom: 4px;
    padding-top: 2rem;
    color: var(--heavy-metal);
}

.contact-top-underline {
  background-color: var(--white-smoke);
    width: 55%;
    height: 4px;
    margin: 2px auto;
}

#contact ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#contact ul li {
  list-style-type: none;
  width: 15%;
}

#contact ul li img {
  width: 100%;
  height: 100%;
}

.contact-p {
    width: 100%;
    padding: 7%;
    margin: 0;
    text-align: center;
    font-family: var(--body-font);
    color: var(--heavy-metal);
    font-size: 3.2vw;
}

.contact-underline{
  background-color: var(--porche);
  width: 229px;
    height: 4px;
    margin: 0 auto;
}


.github-email-linkedin {
  width: 100%;
  background-color: #454544ba;
  padding: 6%;
}

.tel-location{
  color: var(--heavy-metal);
  font-family: var(--body-font);
  font-size: 4vw;
  width: 100%;
}

.location-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-logo img {
  width: 27px;
  display: inline-block;
  margin-right: 2%;
}

.phoneLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phoneLogo img {
  width: 44px;
  display: inline-block;
  margin-right: 2%;
}


}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
  #contact {
    
    height: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #contact h2 {
    text-align: center;
    font-size: 2.3rem;
    font-family: var(--title-font);
    color: var(--white-smoke);
    margin-bottom: 4px;
    padding-top: 2rem;
    color: var(--heavy-metal);
}

.contact-top-underline {
  background-color: var(--white-smoke);
    width: 55%;
    height: 4px;
    margin: 2px auto;
}

#contact ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#contact ul li {
  list-style-type: none;
}

.contact-p {
    width: 100%;
    padding: 2rem;
    margin: 0;
    text-align: center;
    font-family: var(--body-font);
    color: var(--heavy-metal);
}

.contact-underline{
  background-color: var(--porche);
    width: 249px;
    height: 4px;
    margin: 0 auto;
}


.github-email-linkedin {
  width: 100%;
  background-color: #454544ba;
  padding: 2rem;
}

.tel-location{
  color: var(--heavy-metal);
  font-family: var(--body-font);
  font-size: 1.6rem;
}

.location-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-logo img {
  width: 27px;
  display: inline-block;
  margin-right: 1rem;
}

.phoneLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phoneLogo img {
  width: 44px;
  display: inline-block;
  margin-right: 1rem;
}


}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #contact h2 {
    font-size: 2.8rem;
  }  

  .tel-location {
      font-size: 1.8rem;
  }

}



/* Large devices (laptops/desktops, 882px and up) */
@media only screen and (min-width: 882px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 
}


/* Extra large devices (large laptops and desktops, 1300px and up) */
@media only screen and (min-width: 1400px) {
}