/* Header */
:root {
  --heavy-metal: #454544;
  --porche: #EFB560;
  --di-serria: #DC9852;
  --tana: #B7B39F;
  --white-smoke: #F0F0F0;
  --trout: #474D4F;
  --title-font: "Ubuntu", sans-serif;
  --body-font: "Questrial", sans-serif;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navbar {
    font-family: var(--body-font);
    color: var(--heavy-metal);
    font-size: 1.2rem;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--white-smoke);
    transition: all .2s ease;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 2rem;
    box-shadow: 0;
    font-weight: bold;
  }

  .navbar ul li a {
    cursor: pointer;
  }

  .scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white-smoke);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
  }

  h1 img {
    width: auto;
    height: 3.5rem;
  }

  nav {
    width: 38rem;
    margin-left: 22%;
  }

  .displayNav {
    display:  none;
  }

  

  .hamburger-backgrnd {
    background-color: var(--porche);
    height: 48px;
    width: 48px;
    border-radius: 0.375rem;
  }

  .hamburger-react {
    color: var(--trout);
  }

  .hamMenu {
    position: fixed;
    right: 30px;
    z-index: 1;
    width: 26%;
    top: 96px;
    background-color: hsla(36, 82%, 66%, 0.859);
    list-style-type: none;
    padding: 30px 36px 48px 36px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    border-left: 7px solid var(--white-smoke);
    border-right: 7px solid var(--white-smoke);
    border-bottom: 7px solid var(--white-smoke);
  }

  .hamMenu li {
    display: block;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    /* border-bottom: 1px solid var(--tana); */
    height: auto;
  }

  .hamMenu li a {
    display: inline-block;
    /* width: 100%; */
    padding: 1rem 0;
    color: var(--trout);
    font-size: 1.2rem;
    font-weight: bold;
  }

  .hamMenu li a:hover {
    color: var(--heavy-metal);
    border-bottom: 3px solid var(--white-smoke);

  }

}

/* Large devices (laptops/desktops, 882px and up) */
@media only screen and (min-width: 882px) {

  .displayNav {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
  }

  .displayNav a:hover {
    border-bottom: 3px solid var(--porche);
  }

  .displayHamburger {
    display: none;
  }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


/* Extra large devices (large laptops and desktops, 1300px and up) */
@media only screen and (min-width: 1400px) {


}