/* Header */
:root {
  --heavy-metal: #454544;
  --porche: #EFB560;
  --di-serria: #DC9852;
  --tana: #B7B39F;
  --white-smoke: #F0F0F0;
  --trout: #474D4F;
  --title-font: "Ubuntu", sans-serif;
  --body-font: "Questrial", sans-serif;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navbar {
    font-family: var(--body-font);
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    transition: all .2s ease;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 1rem;
  }

  .scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightblue;
  }

  h1 img {
    width: auto;
    height: 3.5rem;
  }

  nav {
    width: 32rem;
    margin-right: 9%;
  }

  .displayNav {
    display:  none;
  }

  .hamburger-backgrnd {
    background-color: var(--porche);
    height: 48px;
    width: 48px;
    border-radius: 0.375rem;
  }

  .hamburger-react {
    color: var(--trout);
  }

}

/* Large devices (laptops/desktops, 882px and up) */
@media only screen and (min-width: 882px) {

  .displayNav {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
  }

  .displayHamburger {
    display: none;
  }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


/* Extra large devices (large laptops and desktops, 1300px and up) */
@media only screen and (min-width: 1400px) {


}