:root {
  --heavy-metal: #454544;
  --porche: #EFB560;
  --di-serria: #DC9852;
  --tana: #B7B39F;
  --white-smoke: #F0F0F0;
  --trout: #474D4F;
  --title-font: "Ubuntu", sans-serif;
  --body-font: "Questrial", sans-serif;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html, body {
    margin: 0.1%;
   }

  .home {
    display: flex;
    /* margin-top: 200px; */
    
    font-family: var(--body-font);
    height: 730px;
    /* margin-bottom: 12%; */
    padding-bottom: 3%;

    align-items: center;
    padding-top: 10rem;
    flex-direction: column;
    /* justify-content: center; */
  }
  
  .flex {
    display: flex;
  }
  
  .wrap {
    flex-wrap: wrap;
  }

  .self-image {
    /* width: 47%; */
    display: none;
  }
  
  .mobile-self-image {
    width: 300px;
    margin: 0 auto;
  }

  .self-image img {
    width: 100%;
  }

  .mobile-self-image img{
    width: 100%;
  }

  .list-style{
    list-style-type: none;
  }

  .flex-center {
    align-items: center;
    justify-content: start;
  }

  .logo {
    padding: 0;
    padding: 0 2rem;
    margin-top: 6%;
  }

  .logo li {
    padding: 0 0.5rem;
    width: 11%;
  }

  .logo li img {
    width: 100%;
  }

  intro-bio {
    width: 100%;
  }

  .intro {
    width: 100%;
  }

  .intro h2 {
    font-size: 5vw;
    font-family: var(--title-font);
    color: var(--heavy-metal);
    width: 100%;
    text-align: center;
  }

  .intro p {
    font-size: 2.9vw;
    color: var(--heavy-metal);
    text-align: center;
  }

  .porshe {
    color: var(--porche);
  }

  .flex-column-justify{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
  .home {
    display: flex;
    margin-top: 200px;
    font-family: var(--body-font);
    height: 650px;
    /* margin-bottom: 12%; */
    /* padding-bottom: 3%; */

    align-items: center;
    padding-top: 10rem;
    flex-direction: column;
    justify-content: center;
  }
  
  .flex {
    display: flex;
  }
  
  .wrap {
    flex-wrap: wrap;
  }

  .self-image {
    /* width: 47%; */
    display: none;
  }
  
  .mobile-self-image {
    width: 559px;
    margin: 0 auto;
  }

  .self-image img {
    width: 100%;
  }

  .mobile-self-image img{
    width: 100%;
  }

  .list-style{
    list-style-type: none;
  }

  .flex-center {
    align-items: center;
    justify-content: start;
  }

  .logo {
    padding: 0;
    padding-right: 3rem;
    margin-top: 6%;
  }

  .logo li {
    padding: 0 0.5rem;
    width: 53px;
  }

  .logo li img {
    width: 100%;
  }

  intro-bio {
    width: 100%;
  }

  .intro {
    width: 100%;
  }

  .intro h2 {
    font-size: 3.4rem;
    font-family: var(--title-font);
    color: var(--heavy-metal);
    width: 100%;
    text-align: left;
  }

  .intro p {
    font-size: 1.9rem;
    color: var(--heavy-metal);
    /* text-align: center; */
  }

  .porshe {
    color: var(--porche);
  }

  .flex-column-justify{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .home {
    margin-top: 85px;
    /* margin-top: 20%; */
    justify-content: space-evenly;
    /* height: 100vh; */
  }

  .self-image {
    display: block;
    width: 294px;
  }

  .self-image img {
    width: 100%;
  }

  .mobile-self-image {
    display: none;
  }

  intro-bio {
    width: 100%;
  }

  .intro {
    width: 60%;
  }

  .intro h2 {
    text-align: left;
    width: 461px;
  }

  .intro p {
    text-align: left;
  }
  
  .logo {
    margin-top: 12%;
  }

  /* .self-image {
    display: none;
    width: 560px;
  }

  .intro h2 {
    font-size: 4.6rem;
    font-family: var(--title-font);
    color: var(--heavy-metal);
    width: 100%;
  }

  .intro p {
    font-size: 2.9rem;
    color: var(--heavy-metal);
  } */
  

}



/* Large devices (laptops/desktops, 882px and up) */
@media only screen and (min-width: 882px) {
  .self-image {
    width: 396px;
  }

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .self-image {
    width: 590px;
  }
  
}


/* Extra large devices (large laptops and desktops, 1300px and up) */
@media only screen and (min-width: 1400px) {


}